:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  --very-soft-pink: hsl(0, 100%, 98%);
  --soft-pink: hsl(0, 80%, 86%, 1);
  --strong-pink: hsl(0, 74%, 74%);
  --grayish-pink: hsla(0, 36%, 70%, 1);
  --dark-grayish-pink: hsla(0, 43%, 60%, 0.25);
}

body {
  background-image: url('.././images/bg-pattern-desktop.svg' );
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: var(--very-soft-pink);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.8rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 1.083rem;
  text-transform: uppercase;
}

p {
  color: var(--desaturated-red);
  padding-bottom: 1rem;
}

::placeholder {
  color: var(--desaturated-red);
  font-size: 0.8rem;
}

*:focus {
  outline: none;
}

.logo {
  margin: 1.5rem;
  width: 30%;
}

.mobile-img {
  min-width: 100%;
}

.description {
  display: block;
  text-align: center;
  padding: 4rem 2rem 1rem 2rem;
  margin-bottom: 4rem;
}

.title {
  display: block;
  color: var(--desaturated-red);
  font-weight: 300;
}

#email-form {
  position: relative;
  height: 3rem;
}

.email-input {
  border: 0.1px solid var(--grayish-pink);
  background-color: var(--very-soft-pink);
  border-radius: 1.75rem;
  font-size: 0.8rem;
  padding-left: 1rem;
  width: 100%;
  height: 3rem;
}

.error-sign {
  position: absolute;
  top: 25%;
  right: 25%;
  visibility: hidden;
}

.email-error {
  color: hsl(0, 93%, 68%);
  margin: 0.3rem 0 0;
  padding-left: 1rem;
  text-align: left;
}

.submit-btn {
  position: absolute;
  right: 0;
  top: 0;
  background-image: linear-gradient(135deg, var(--soft-pink), var(--strong-pink));
  height: 100%;
  border-radius: 1.75rem;
  border: 0.1px solid var(--soft-pink);
  box-shadow: 0px 15px 20px var(--dark-grayish-pink);
  width: 20%;
  height: 3rem;
}

.submit-btn:hover {
  background-image: linear-gradient(135deg, var(--very-soft-pink), var(--soft-pink));
  border: 0.1px solid  linear-gradient(135deg, var(--very-soft-pink), var(--soft-pink));
  box-shadow: -1px 10px 30px 0px var(--soft-pink);
}

@media (min-width: 1100px) {
  h1 {
    font-size: 4rem;
    letter-spacing: 0.677rem;
  }

  .logo {
    width: 10%;
    margin: 4rem auto 0 10rem;
  }

  .hero-img {
    float: right;
    max-width: 50%;
  }

  .description {
    width: 50%;
    text-align: left;
    margin: 0 0 0 10rem;
    padding: 8.5rem 18rem 1rem 0;
  }

  #email-form {
    height: 3.5rem;
  }

  .email-input {
    height: 3.5rem;
  }

  .submit-btn {
    height: 3.5rem;
    width: 22%;
  }
}
