:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  --very-soft-pink: hsl(0, 100%, 98%);
  --soft-pink: hsl(0, 80%, 86%, 1);
  --strong-pink: hsl(0, 74%, 74%);
  --grayish-pink: hsla(0, 36%, 70%, 1);
  --dark-grayish-pink: hsla(0, 43%, 60%, 0.25);
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.8rem;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
}

p {
  color: var(--desaturated-red);
  padding-bottom: 1rem;
}

::placeholder {
  color: var(--desaturated-red);
  font-size: 0.8rem;
}

*:focus {
  outline: none;
}

.logo {
  margin: 1.5rem;
  width: 30%;
}

.mobile-img {
  min-width: 100%;
}

.description {
  display: block;
  padding: 4rem 2rem 1rem 2rem;
  text-align: center;
  margin-bottom: 4rem;
}

.title {
  color: var(--desaturated-red);
  font-weight: 300;
  display: block;
}

#email-form {
  position: relative;
  height: 3rem;
}

.email-input {
  border: 0.1px solid var(--grayish-pink);
  border-radius: 1.5rem;
  font-size: 0.8rem;
  padding-left: 1rem;
  width: 100%;
  height: 3rem;
}

.error-sign {
  visibility: hidden;
  position: absolute;
  top: 25%;
  right: 25%;
}

.email-error {
  color: hsl(0, 93%, 68%);
  margin: 0.3rem 0 0;
  padding-left: 1rem;
  text-align: left;
}

.submit-btn {
  position: absolute;
  background-image: linear-gradient(135deg, var(--soft-pink), var(--strong-pink));
  height: 100%;
  border-radius: 1.75rem;
  border: 0.1px solid var(--soft-pink);
  box-shadow: 0px 15px 20px var(--dark-grayish-pink);
  right: 0;
  width: 20%;
}

.submit-btn:hover {
  background-image: linear-gradient(135deg, var(--very-soft-pink), var(--soft-pink));
  border: 0.1px solid  linear-gradient(135deg, var(--very-soft-pink), var(--soft-pink));
  box-shadow: -1px 10px 30px 0px var(--soft-pink);
}

@media (min-width: 1000px) {
  .logo {
    width: 10%;
    margin: 4rem auto 3rem 8rem;
  }

  .hero-img {
    float: right;
    max-width: 50%;
  }

  .description {
    width: 50%;
    text-align: left;
    margin: 0rem 2rem 0rem 6rem;
    padding-right: 12rem;
  }
}
